@import url('https://fonts.googleapis.com/css?family=Cantarell:700|Josefin+Sans:700|Montserrat:400,500i,700i');

* {margin: 0; padding: 0;}
body {background-size: cover;}

@-webkit-keyframes text-flicker-in-glow {
  0% {opacity: 0;}
  10% {opacity: 0;text-shadow: none;}
  10.1% {opacity: 1;text-shadow: none;}
  10.2% {opacity: 0;text-shadow: none;}
  20% {opacity: 0;text-shadow: none;}
  20.1% {opacity: 1;text-shadow: 0 0 30px rgba(255, 255, 255, 0.25);}
  20.6% {opacity: 0;text-shadow: none;}
  30% {opacity: 0;text-shadow: none;}
  30.1% {opacity: 1;text-shadow: 0 0 30px rgba(255, 255, 255, 0.45), 0 0 60px rgba(255, 255, 255, 0.25);}
  30.5% {opacity: 1;text-shadow: 0 0 30px rgba(255, 255, 255, 0.45), 0 0 60px rgba(255, 255, 255, 0.25);}
  30.6% {opacity: 0;text-shadow: none;}
  45% {opacity: 0;text-shadow: none;}
  45.1% {opacity: 1;text-shadow: 0 0 30px rgba(255, 255, 255, 0.45), 0 0 60px rgba(255, 255, 255, 0.25);}
  50% {opacity: 1;text-shadow: 0 0 30px rgba(255, 255, 255, 0.45), 0 0 60px rgba(255, 255, 255, 0.25);}
  55% {opacity: 1;text-shadow: 0 0 30px rgba(255, 255, 255, 0.45), 0 0 60px rgba(255, 255, 255, 0.25);}
  55.1% {opacity: 0;text-shadow: none;}
  57% {opacity: 0;text-shadow: none;}
  57.1% {opacity: 1;text-shadow: 0 0 30px rgba(255, 255, 255, 0.55), 0 0 60px rgba(255, 255, 255, 0.35);}
  60% {opacity: 1;text-shadow: 0 0 30px rgba(255, 255, 255, 0.55), 0 0 60px rgba(255, 255, 255, 0.35);}
  60.1% {opacity: 0;text-shadow: none;}
  65% {opacity: 0;text-shadow: none;}
  65.1% {opacity: 1;text-shadow: 0 0 30px rgba(255, 255, 255, 0.55), 0 0 60px rgba(255, 255, 255, 0.35), 0 0 100px rgba(255, 255, 255, 0.1);}
  75% {opacity: 1;text-shadow: 0 0 30px rgba(255, 255, 255, 0.55), 0 0 60px rgba(255, 255, 255, 0.35), 0 0 100px rgba(255, 255, 255, 0.1);}
  75.1% {opacity: 0;text-shadow: none;}
  77% {opacity: 0;text-shadow: none;}
  77.1% {opacity: 1;text-shadow: 0 0 30px rgba(255, 255, 255, 0.55), 0 0 60px rgba(255, 255, 255, 0.4), 0 0 110px rgba(255, 255, 255, 0.2), 0 0 100px rgba(255, 255, 255, 0.1);}
  85% {opacity: 1;text-shadow: 0 0 30px rgba(255, 255, 255, 0.55), 0 0 60px rgba(255, 255, 255, 0.4), 0 0 110px rgba(255, 255, 255, 0.2), 0 0 100px rgba(255, 255, 255, 0.1);}
  85.1% {opacity: 0;text-shadow: none;}
  86% {opacity: 0;text-shadow: none;}
  86.1% {opacity: 1;text-shadow: 0 0 30px rgba(255, 255, 255, 0.6), 0 0 60px rgba(255, 255, 255, 0.45), 0 0 110px rgba(255, 255, 255, 0.25), 0 0 100px rgba(255, 255, 255, 0.1);}
  100% {opacity: 1;text-shadow: 0 0 30px rgba(255, 255, 255, 0.6), 0 0 60px rgba(255, 255, 255, 0.45), 0 0 110px rgba(255, 255, 255, 0.25), 0 0 100px rgba(255, 255, 255, 0.1);}
}
@keyframes text-flicker-in-glow {
  0% {opacity: 0;}
  10% {opacity: 0;text-shadow: none;}
  10.1% {opacity: 1;text-shadow: none;}
  10.2% {opacity: 0;text-shadow: none;}
  20% {opacity: 0;text-shadow: none;}
  20.1% {opacity: 1;text-shadow: 0 0 30px rgba(255, 255, 255, 0.25);}
  20.6% {opacity: 0;text-shadow: none;}
  30% {opacity: 0;text-shadow: none;}
  30.1% {opacity: 1;text-shadow: 0 0 30px rgba(255, 255, 255, 0.45), 0 0 60px rgba(255, 255, 255, 0.25);}
  30.5% {opacity: 1;text-shadow: 0 0 30px rgba(255, 255, 255, 0.45), 0 0 60px rgba(255, 255, 255, 0.25);}
  30.6% {opacity: 0;text-shadow: none;}
  45% {opacity: 0;text-shadow: none;}
  45.1% {opacity: 1;text-shadow: 0 0 30px rgba(255, 255, 255, 0.45), 0 0 60px rgba(255, 255, 255, 0.25);}
  50% {opacity: 1;text-shadow: 0 0 30px rgba(255, 255, 255, 0.45), 0 0 60px rgba(255, 255, 255, 0.25);}
  55% {opacity: 1;text-shadow: 0 0 30px rgba(255, 255, 255, 0.45), 0 0 60px rgba(255, 255, 255, 0.25);}
  55.1% {opacity: 0;text-shadow: none;}
  57% {opacity: 0;text-shadow: none;}
  57.1% {opacity: 1;text-shadow: 0 0 30px rgba(255, 255, 255, 0.55), 0 0 60px rgba(255, 255, 255, 0.35);}
  60% {opacity: 1;text-shadow: 0 0 30px rgba(255, 255, 255, 0.55), 0 0 60px rgba(255, 255, 255, 0.35);}
  60.1% {opacity: 0;text-shadow: none;}
  65% {opacity: 0;text-shadow: none;}
  65.1% {opacity: 1;text-shadow: 0 0 30px rgba(255, 255, 255, 0.55), 0 0 60px rgba(255, 255, 255, 0.35), 0 0 100px rgba(255, 255, 255, 0.1);}
  75% {opacity: 1;text-shadow: 0 0 30px rgba(255, 255, 255, 0.55), 0 0 60px rgba(255, 255, 255, 0.35), 0 0 100px rgba(255, 255, 255, 0.1);}
  75.1% {opacity: 0;text-shadow: none;}
  77% {opacity: 0;text-shadow: none;}
  77.1% {opacity: 1;text-shadow: 0 0 30px rgba(255, 255, 255, 0.55), 0 0 60px rgba(255, 255, 255, 0.4), 0 0 110px rgba(255, 255, 255, 0.2), 0 0 100px rgba(255, 255, 255, 0.1);}
  85% {opacity: 1;text-shadow: 0 0 30px rgba(255, 255, 255, 0.55), 0 0 60px rgba(255, 255, 255, 0.4), 0 0 110px rgba(255, 255, 255, 0.2), 0 0 100px rgba(255, 255, 255, 0.1);}
  85.1% {opacity: 0;text-shadow: none;}
  86% {opacity: 0;text-shadow: none;}
  86.1% {opacity: 1;text-shadow: 0 0 30px rgba(255, 255, 255, 0.6), 0 0 60px rgba(255, 255, 255, 0.45), 0 0 110px rgba(255, 255, 255, 0.25), 0 0 100px rgba(255, 255, 255, 0.1);}
  100% {opacity: 1;text-shadow: 0 0 30px rgba(255, 255, 255, 0.6), 0 0 60px rgba(255, 255, 255, 0.45), 0 0 110px rgba(255, 255, 255, 0.25), 0 0 100px rgba(255, 255, 255, 0.1);}
}


	 .container header {display: flex; justify-content: space-around;}

				  .logo {width: 15%; margin: 15px -150px;}
			  .logo img {width: 100%;}

				 .frame {margin: 0 62px 0 42px; position: relative; cursor: pointer;}
.frame:hover .hex-inner	{height: 50px; top: 45px !important; border-radius: 4px;}
	.frame:hover .label	{transform: scale(.90); -webkit-transform: scale(.90);}

			 .hex-outer	{background: #fff; width: 105px; height: 60px;}
			 .hex-inner	{background: #000014; width: 95px; height: 54px; position: relative; left: 5.01px;
						top: 43px !important; border-radius: 0; transition: all .4s; -webkit-transition: all .4s;}

					.h1	{position: absolute; top: 40px; transform: rotate(90deg); -webkit-transform: rotate(90deg)}
					.h2	{position: absolute; top: 40px; transform: rotate(30deg); -webkit-transform: rotate(30deg);}
					.h3	{position: absolute; top: 40px; transform: rotate(-30deg); -webkit-transform: rotate(-30deg);}

				 .label {position: absolute; color: #fff; transition: all .4s; -webkit-transition: all .4s;
						padding: 49px 0 0 0px;}

				  .menu {display: flex; justify-content: space-between; width: 500px; margin: 50px 0 0 300px;}

				.menu a {display: block; text-decoration: none; justify-content: space-between;
						font-family: 'Cantarell', sans-serif; font-size: 1rem; font-weight: 400;
						color: white; text-align: center; width: 100px;}

				.active {color: black; text-align: center; margin: 7px 0 0 0px; font-size-adjust: 0.7;}
			   .active2 {color: black; text-align: center; margin: 7px 0 0 0px; font-size-adjust: 0.7;}
			   .active3 {color: black; text-align: center; margin: 7px 0 0 0px; font-size-adjust: 0.7;}
			   .active4 {color: black; text-align: center; margin: 7px 0 0 0px; font-size-adjust: 0.7;}

				.banner {width: 100%; height: 275px; margin: -50px auto 200px 0;
						background: url('/images/banner.png'); background-size: cover;}

			 .banner h2	{font-family: 'Cantarell', sans-serif; font-size: 1.5rem; font-weight: 400;
						text-align: left; color: #fff; margin: 0 auto 10px 150px;}

			  .banner p {font-family: 'Montserrat', sans-serif; font-size: 1rem; text-align: left;
			  			color: #fff; margin: 0 auto 0 150px;}			

.title article h1		{font-family: 'Josefin Sans', sans-serif;
						font-size: 4rem; text-align: center; color: #d80404;
						margin: 100px 200px 150px 200px;
						-webkit-animation: text-flicker-in-glow 4s linear backwards;
	        			animation: text-flicker-in-glow 4s linear backwards;}

.title2 article h2 	{font-family: 'Josefin Sans', sans-serif;
						font-size: 3rem; text-align: left; color: #d80404;
						margin: 100px 150px 50px 150px;
						-webkit-animation: text-flicker-in-glow 4s linear backwards;
	        			animation: text-flicker-in-glow 4s linear backwards;}

.title3 article h2 	{font-family: 'Josefin Sans', sans-serif;
						font-size: 3rem; text-align: left; color: #d80404;
						margin: 100px 380px 100px 380px;
						-webkit-animation: text-flicker-in-glow 4s linear backwards;
	        			animation: text-flicker-in-glow 4s linear backwards;}

.article1 article 		{display: flex; justify-content: space-around; width: 100%;}

.article1 article p 	{font-family: 'Montserrat', sans-serif; color: #fff;
						font-size: 1.2rem; text-align: left; border-radius: 10px 10px 10px 10px;
					 	margin: 0 50px 100px 150px; padding: 10px 10px 10px 10px; width: 60%; 
					 	background: rgba(77, 50, 137, 0.3); word-spacing: -1px;
					 	letter-spacing: 1px; line-height: 27px;}

.article1 article img 	{text-align: right; width: 50%; margin: 0 150px 100px 0;}

			 .article2 {display: flex; justify-content: space-around; margin: 50px 50px 50px 50px; height: 500px}

.article2 article iframe {margin: 60px 50px 20px 100px; width: 597px; height: 336px;}

.article2 article h3 	{font-family: 'Josefin Sans', sans-serif; color: #fff;
						font-size: 2rem; font-weight: 400;
						text-align: right; margin: 0 100px 0 0;}

.article2 article h4 	{font-family: 'Montserrat', sans-serif; color: #fff;
						font-size: 0.7rem; font-style: italic;
						font-weight: 500; text-align: left;
						margin: 0 50px 0 100px;}

.article2 article p 	{font-family: 'Montserrat', sans-serif; color: #fff;
						font-size: 1rem; text-align: left;
						margin: 5px 100px 0 0;padding: 15px 15px 15px 15px;
						border-radius: 10px 10px 10px 10px; 
						background: rgba(77, 50, 137, 0.3); letter-spacing: 1px;
						word-spacing: -2px; line-height: 17px;}

			 .article3 {margin: 50px 50px 50px 50px;}

.article3 article h3	{font-family: 'Josefin Sans', sans-serif; font-size: 2rem; font-weight: 400;
						text-align: left; color: #fff; margin: 0 100px 0 100px;}

.article3 article p 	{font-family: 'Montserrat', sans-serif; font-size: 1.2rem; text-align: justify;
						color: #fff; margin: 20px 100px 0 100px;}

		   .footer {margin: 150px 100px 100px 100px; text-align: center; height: 50px;}

		 .footer a {font-family: 'Cantarell', sans-serif; font-size: 1.5rem; font-weight: 400;
						color: #deff00; text-decoration: none;}

		 .article4 div {display: flex; justify-content: space-between; margin: 100px 150px 100px 150px;}

.article4 article 		{width: 45%; margin: 0 50px 0 0;}

		   .article4 a {font-family: 'Cantarell', sans-serif; font-size: 1.5rem; font-weight: 400;
						text-align: left; color: #fff; width: 50%; margin: 0 0 50px 0; text-decoration: none;}

		   .article4 p {font-family: 'Montserrat', sans-serif;
						font-size: 0.9rem; text-align: left; color: #fff;
						margin: 10px 0 0 0; border-radius: 10px 10px 10px 10px;
						padding: 10px 10px 10px 10px; background: rgba(58, 56, 105, 0.3);
						letter-spacing: 1.5px; line-height: 19px; word-spacing: -0.5px;}

		 .article4 img {text-align: right; width: 100%;}

			 .article5 {margin: 0 0 100px 0;}

		  .article5 h3 {font-family: 'Cantarell', sans-serif; font-size: 1.5rem; font-weight: 400;
						text-align: right; color: #fff; margin:  0px 150px 20px -150px;}

		   .article5 p {font-family: 'Montserrat', sans-serif; font-size: 1.2rem;
						text-align: justify; color: #fff; margin: 20px 150px 0 150px;
						letter-spacing: 1px; word-spacing: -3px; line-height: 25px;
						border-radius: 10px 10px 10px 10px;
						padding: 10px 10px 10px 10px; background: rgba(0, 0, 0, 0.3);}

		 .article5 img {float: left; width: 25%; margin: 0px 50px 0px 0px;}

		  .article5 h4 {font-family: 'Montserrat', sans-serif; color: #fff;
						font-size: 0.7rem; font-style: italic;
						font-weight: 500; text-align: left;
						margin: 0 50px 0 160px;}

		  .article6 h3 {font-family: 'Cantarell', sans-serif;
						font-size: 1.2rem; font-weight: 400;
						text-align: right; color: #fff;
						margin:  0px 150px 10px -150px;}

		   .article6 p {font-family: 'Montserrat', sans-serif; font-size: 1.2rem;
						text-align: left; color: #fff; margin: 0 150px 20px 150px;
						letter-spacing: 2px; word-spacing: -1px; line-height: 25px;
						border-radius: 10px 10px 10px 10px;
						padding: 10px 10px 10px 10px; background: rgba(0, 0, 0, 0.3);}

		  .article6 h4 {font-family: 'Cantarell', sans-serif;
						font-size: 1rem; font-weight: 700; font-style: italic;
						color: #fff; margin: 0px 150px 0 150px;}

		 .article6 img {float: right; width: 50%; margin: 10px 10px 10px 10px;}


		   .article7 p {font-family: 'Cantarell', sans-serif; text-align: center;
						font-size: 1rem; font-weight: 700; font-style: italic;
						color: #fff; margin: 30px 380px 30px 380px;
						border-radius: 20px 20px 20px 20px;
						padding: 20px 20px 20px 20px; background: rgba(146, 146, 146, 0.1);}

		  .article7 h2 {font-family: 'Josefin Sans', sans-serif; font-size: 2rem; font-weight: 400;
						text-align: right; color: #fff; margin: 0px 400px 50px 400px;}

		  .article7 h3 {font-family: 'Josefin Sans', sans-serif; font-size: 1.5rem; font-weight: 400;
						text-align: left; color: #fff; margin: 0px 400px 0 400px;}

		   .article7 a {text-decoration: none; color: #deff00; font-size: 1.5rem;}


/* max 900px */
@media screen and (max-width: 900px){

	body {flex-wrap: wrap; background-size: cover;}
	
	.container header {display: flex; justify-content: space-around;}

	.logo{margin: 10px -20px; width: 10%;}

	.frame {display: flex; justify-content: space-around; margin: 0 105px 0 -15px;}
	.frame:hover .hex-inner	{height: 37px; top: 34px !important; border-radius: 3px;}
	.frame:hover .label		{transform: scale(.67); -webkit-transform: scale(.67);}
	.hex-outer {width: 77px; height: 47px; top: 34px !important; border-radius: 3px;}
	.hex-inner {width: 71px; height: 40px; left: auto; top: 37px !important;}
	.h1 {top: 30px}
	.h2 {top: 30px}
	.h3 {top: 30px}
	.label {padding: 40px 0 0 0;}

	.menu {width: 375px; margin: 40px -70px 0 300px;}
	.menu a {font-size: 0.7rem; width: 75px;}

	.active {margin: 5px 0 0 0px; font-size-adjust: 0.7;}
	.active2 {margin: 0 0 0 0; font-size-adjust: 0.5;}
	.active3 {margin: 0 0 0 0; font-size-adjust: 0.5;}
	.active4 {margin: 0 0 0 0; font-size-adjust: 0.5;}

	.banner {height: 220px; margin: -50px auto 100px 0; max-width: 900px; background-size: cover;}
	.banner h2 {font-size: 1rem; margin: 0 auto 10px 100px;}
	.banner p {font-size: 0.7rem; margin: 0 auto 0 100px;}

	.title article h1 	{font-size: 3rem; margin: 75px 100px 110px 100px;}
	.title2 article h2 {font-size: 2rem; margin: 75px 115px 110px 105px;}
	.title3 article h2 {font-size: 2rem; margin: 75px 115px 110px 105px;}

	.article1 article {flex-direction: column-reverse;}
	.article1 article p {font-size: 0.9rem; word-spacing: -0.7px;width: auto;
						letter-spacing: 0.7px; line-height: 22px; margin: 0 115px 0 105px;}
	.article1 article img {height: 75%; width: 75%; margin: 0 0 20px 0; padding: 0 0 0 105px;}

	.article2 	{display: flex; flex-direction: column-reverse; height: 665px; margin: 150px 0 50px 0;}
	.article2 article iframe {margin: 45px 115px 15px 105px; width: 663px; height: 373px;}
	.article2 article h3 	{font-size: 1.5rem; text-align: right; margin: 0 115px 0 105px;}
	.article2 article h4 	{font-size: 0.6rem; margin: 0 115px 0 105px;}
	.article2 article p 	{font-size: 0.8rem; margin: 0 115px 0 105px; letter-spacing: 0.8px;
						word-spacing: -1.5px; line-height: 17px; width: auto;}

	.article3 {margin: 150px 0 50px 0;}
	.article3 article h3 {font-size: 1.5rem; text-align: left; margin: 0 115px 0 105px;}
	.article3 article p {font-size: 0.9rem; margin: 0 115px 0 105px;}
	
	.footer {margin: 150px 115px 75px 105px; height: 37px;}
	.footer a {font-size: 1.2rem;}

  	.article4 div 	   {flex-direction: column; margin: 100px 115px 100px 105px;}
	.article4 article {width: auto; margin: 0 0 0 0;}
	.article4 a 	   {font-size: 1.2rem; width: auto; margin: 0 0 0 0;}
	.article4 p 	   {font-size: 0.8rem; margin: 5px 0 10px 0;
				 	   letter-spacing: 0.8px; line-height: 17px; word-spacing: -1.5px;}
	.article4 img     {text-align: center; width: 100%;}

	.article5     {margin: 0 115px 100px 105px; height: 305px;}
	.article5 h3  {font-size: 1.2rem; margin:  0 0 15px 0;}
	.article5 p   {font-size: 0.9rem; text-align: justify; margin: 0 0 0 0;
				   letter-spacing: 0; word-spacing: 0; line-height: 18px;}
	.article5 img {width: 25%; margin: 0 0 2px 0; padding: 10px 14px 2px 10px;}
	.article5 h4  {font-size: 0.5rem; text-align: left; margin: -98px 0 0 20px;}

	.article6     {margin: 0 115px 0 105px;}
	.article6 h3  {font-size: 0.9rem; margin:  0 0 5px 5px;}
	.article6 p   {font-size: 0.9rem; margin: 0 0 15px 0; padding: 15px 10px 15px 10px;
				   letter-spacing: 1px; word-spacing: -1px; line-height: 19px;}
	.article6 h4  {font-size: 0.9rem; margin: 0 0 5px 5px;}
	.article6 img {width: 98%; margin: 0 0 0 0; padding: 10px 5px 15px 10px;}

	.article7 p  {font-size: 0.8rem; margin: 10px 115px 10px 105px;
				  padding: 20px 10px 20px 10px;}
	.article7 h2 {font-size: 1.5rem; margin:  0 130px 25px 105px;}
	.article7 h3 {font-size: 1.2rem; margin:  0 115px 0 120px;}
}


/* max 500px */
@media screen and (max-width: 500px){

body {flex-wrap: wrap; flex-direction: column;}
	
    .container header {}

	.logo{margin: 7px -205px 0 auto; width: 13%}
